body {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

@keyframes color-change {
  0% {
    fill: rgb(0, 183, 255);
    stroke: rgb(0, 255, 85);
  }
  50% {
    fill: rgb(183, 212, 103);
    stroke: yellow;
  }
  100% {
    fill: rgb(0, 183, 255);
    stroke: rgb(0, 255, 85);
  }
}
.animated {
  animation: color-change 4s infinite;
}
